body {
    background-color: darkgrey;
}


.form-detail{
   background-color: aliceblue;
   width: 500px;
   height: 340px;
   margin: auto;
   border-radius: 5px;
   border: 2px brown;
}


.title{
    text-align: center;
    color: black;
}

.booking{
    text-align: center;
}

hr{
    margin: 2px;
}
label{
    padding: 5px;
}
 input{
    width: 480px;
    height: 20px;
    margin-left: 5px;
    border: 1px solid gray;
    border-radius: 3px;
} 
.btn{
    text-align: center;
    background-color: orange;
    height: 30px;
    width: 488px;
    color: white;
    margin-left: 5px;
    border: none;
    border-radius: 3px;
}


